
@import "blocks/navbar"
@import "blocks/offer"
@import "blocks/modal"
@import "blocks/hero"
@import "blocks/portfolio"
@import "blocks/price"
@import "blocks/steps"
@import "blocks/brif"
@import "blocks/footer"
@import "fonts"
*
  box-sizing: border-box
body
  font-family: sans-serif
img
  max-width: 100%
.section
  padding: 100px 0
.input
  color: #999999
  font-family: "Museo Sans 300 Light", serif
  border-radius: 10px
  border: 1px solid #dddddd
  outline: none
  &:focus
    border-color: #ffd200
.button
  border: none
  outline: none
  &:hover
    background-color: lighten(#ffd200, 10%)
    cursor: pointer
.container
  width: 1170px
  margin: auto
.navbar-block
  display: flex
  justify-content: space-between
  align-items: center
.navbar__button
  border-radius: 10px
  background-color: #ffd200
  border: none
  padding: 19px 30px
@media(max-width: 1200px)
  .container
    max-width: 960px
    width: 90%
@media(max-width: 768px)
  .container
    max-width: 580px
    width: 90%
  .navbar
    padding: 15px 0
    &__contacts
      display: none
    &__button
      font-family: "Museo Sans 700 Bold", serif
      font-size: 10px
      padding: 15px 30px
      margin-right: 5px
    &__logo
      padding-left: 5px
      width: 90px
@media(max-width: 768px)
  .section
    padding: 50px 0

