@import "__navbar"
.hero
  background-color: #f5f5f5
  &-w
    width: 1170px
    margin: 0 auto
    display: flex
    align-items: center
.box-info-title
  padding-bottom: 50px
  color: #333333
  font-size: 41px
  font-weight: 400
  line-height: 55px
.box-info-garant
  display: inline-block
  color: #333333
  font-size: 20px
  font-weight: 400
  padding-bottom: 69px
  padding-top: 50px
.box-info-block
  display: flex
  flex-direction: column
.box-1
  display: flex
  align-items: center
  color: #333333
  font-size: 14px
  font-weight: 400
  line-height: 24px
  padding-bottom: 30px
.box-info-text
  display: flex
  margin-left: 30px
  color: #333333
  font-size: 14px
  font-weight: 400
  line-height: 24px
.box-img
  max-width: 570px
  max-height: 488px
  padding-top: 50px
  padding-bottom: 52px


    






  