.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  font-family: Museo Sans 700 Bold, serif;
  margin-left: 30px;
  color: #333333;
  font-size: 13px;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
}

.offer {
  background: url("../img/offer_bgc.png") no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-top: 84px;
  padding-bottom: 90px;
  padding-right: 90px;
  position: relative;
}

.offer-title {
  display: inline-block;
  color: #333333;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  max-width: 350px;
  padding-bottom: 21px;
  margin: 0;
}

.offer-subtitle {
  display: block;
  color: #333333;
  font-family: "Museo Sans 300 Light", serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  padding: 20px 26px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background-color: #ffd200;
  color: #333333;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px;
}

.offer-info__text {
  color: #333333;
  font-family: "Museo Sans 300 Light", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.offer-info__text:first-child {
  width: 224px;
  margin-right: 70px;
}

.offer__tel {
  display: block;
  text-decoration: none;
  color: #333333;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-block {
    padding: 50px 0;
    width: 50%;
  }
  .offer__button {
    width: 240px;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
  }
  .offer-title {
    width: 270px;
    font-size: 18px;
    line-height: 20px;
  }
  .offer-subtitle {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__input:first-child {
    margin-bottom: 4px;
  }
  .offer__button {
    width: 100%;
    font-size: 14px;
    padding: 19px 64px;
  }
  .offer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 23px;
    font-size: 15px;
    line-height: 24px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.main {
  background-color: #f5f5f5;
}

.hero-block {
  padding-top: 50px;
  padding-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 15px;
}

.hero-text__title {
  font-family: "Museo Sans 700 Bold", serif;
  line-height: 55px;
  color: #333333;
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 35px;
  margin-top: 30px;
}

.hero-text__subtitle {
  font-family: "Museo Sans 700 Bold", serif;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 68px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__img {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  font-family: "Museo Sans 300 Light", serif;
  max-width: 300px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 960px;
    padding-bottom: 52px;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero__text {
    padding-right: 10px;
  }
  .hero-img {
    max-width: 570px;
    max-height: 488px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-family: "Museo Sans 700 Bold", serif;
    margin: 0px;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .hero-block {
    padding-top: 40px;
    max-width: 580px;
    width: 100%;
  }
  .hero-list {
    margin-bottom: 35px;
  }
  .hero-list__img {
    margin-right: 15px;
  }
  .hero-list__item {
    margin-bottom: 16px;
  }
  .hero-list__text {
    font-size: 11px;
    line-height: 1.4;
  }
  .hero_img {
    margin: 0 auto;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/section-bgc.png") repeat-y;
  background-position: center left;
  background-size: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.portfolio__title {
  color: #333333;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  padding-bottom: 95px;
  margin: 0;
}

.slider__items {
  outline: none;
}

.slider__image {
  margin: auto;
}

.portfolio_arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 68px;
  max-width: 120px;
  margin: auto;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .portfolio__title {
    margin: auto;
  }
  .portfolio .slider__image {
    max-width: 370px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding-top: 43px;
    padding-bottom: 64px;
    background: #f5f5f5;
  }
  .portfolio__title {
    text-align: center;
    font-size: 18px;
    max-width: 275px;
    line-height: 1.2;
    padding-bottom: 41px;
  }
  .portfolio .slider__image {
    max-width: 246px;
  }
  .portfolio .arrows {
    padding-top: 45px;
  }
}

.price {
  text-align: center;
}

.price__title {
  max-width: 515px;
  margin: auto;
  color: #000000;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 50px;
}

.price__subtitle {
  display: block;
  margin: 0;
  color: #000000;
  font-family: "Museo Sans 300 Light", serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 58px;
}

.price__cards {
  margin-bottom: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.cards {
  border: 1px solid #e8e8e8;
}

.cards:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards:hover .cards__image:before {
  opacity: 1;
}

.cards__text {
  padding: 40px;
}

.cards__image {
  position: relative;
}

.cards__image img {
  display: block;
}

.cards__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards__title {
  color: #000000;
  font-family: "Museo Sans 300 Light", serif;
  font-size: 18px;
  margin-top: 0;
}

.cards_link {
  display: inline-block;
  color: #333333;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.cards_link:hover:after {
  height: 13px;
}

.cards_link:after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .card {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .price__title {
    width: 242px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 27px;
  }
  .price__subtitle {
    font-size: 14px;
  }
  .cards {
    max-width: 271px;
  }
  .cards:last-child {
    margin-bottom: 0;
  }
  .cards__text {
    padding: 35px 0;
  }
  .cards__title {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.steps__title {
  text-align: center;
  max-width: 655px;
  margin: auto;
  font-family: "Museo Sans 700 Bold", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 59px;
}

.steps__subtitle {
  display: block;
  text-align: center;
  font-family: "Museo Sans 300 Light", serif;
  font-size: 20px;
  line-height: 45px;
  margin-bottom: 58px;
}

.steps-offer {
  width: 1073px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 146px;
}

.steps__info {
  text-align: center;
  font-family: "Museo Sans 300 Light", serif;
  font-size: 14px;
  line-height: 20px;
}

.brif {
  background-image: url("../img/brif-bgc.png"), url("../img/brif-bgc-2.jpg");
  background-position: left center,center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.from {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.from__title {
  font-family: "Museo Sans 700 Bold", serif;
  margin: 0;
  color: #333333;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 48px;
}

.from__subtitle {
  display: block;
  font-size: 16px;
  color: #333333;
  font-family: "Museo Sans 300 Light", serif;
  margin-bottom: 49px;
}

.from__input {
  margin: 0;
  display: block;
  padding-left: 24px;
  height: 65px;
  max-width: 370px;
  width: 100%;
  font-size: 15px;
  margin-bottom: 15px;
}

.from__button {
  margin-top: 30px;
  display: block;
  width: 100%;
  max-width: 370px;
  height: 70px;
  background-color: #ffd200;
  color: #333333;
  font-family: "Museo Sans 700 Bold", serif;
  border-radius: 10px;
  font-size: 16px;
}

.from__desc {
  display: block;
  margin-top: 33px;
  font-size: 15px;
  color: #333333;
  font-family: "Museo Sans 300 Light", serif;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  margin-top: 0;
  font-size: 22px;
  line-height: 33px;
  font-family: "Museo Sans 700 Bold", serif;
  margin-bottom: 45px;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  font-family: "Museo Sans 300 Light", serif;
  padding-bottom: 94px;
  margin: 0;
}

.interview-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Museo Sans 700 Bold", serif;
  margin-bottom: 25px;
}

.interview-list__item:last-child {
  margin-bottom: 0;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  line-height: 35px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .from__brif {
    padding-left: 30px;
  }
  .from__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .from__subtitle {
    margin-bottom: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    padding-bottom: 39px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .brif {
    background-image: url("../img/brif-bgc.png"), url("../img/brif-bgc-2.jpg");
    background-position: top center,center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .from {
    padding-left: 0;
  }
  .from__desc {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .from__brif {
    margin-top: 200px;
  }
  .interview {
    padding-right: 0;
    max-width: 400px;
    max-height: 508px;
  }
  .interview__list {
    margin-bottom: 200px;
  }
}

@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/museo/MuseoSansCyrl-300.eot");
  src: url("../fonts/museo/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/museo/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/museo/MuseoSansCyrl-700.eot");
  src: url("../fonts/museo/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museo/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/museo/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.input {
  color: #999999;
  font-family: "Museo Sans 300 Light", serif;
  border-radius: 10px;
  border: 1px solid #dddddd;
  outline: none;
}

.input:focus {
  border-color: #ffd200;
}

.button {
  border: none;
  outline: none;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.container {
  width: 1170px;
  margin: auto;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 19px 30px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .navbar {
    padding: 15px 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-family: "Museo Sans 700 Bold", serif;
    font-size: 10px;
    padding: 15px 30px;
    margin-right: 5px;
  }
  .navbar__logo {
    padding-left: 5px;
    width: 90px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
/*# sourceMappingURL=style.css.map */